header{
    background-color: #FEF5ED;
}
nav{
    background-color: #D3E4CD;
}
section{
    background-color: #ADC2A9;
    grid-column: 1/3;
}
aside{
    background-color: #99A799;
    grid-column: 3/4;
}
footer{
    background-color: #DBD0C0;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}